.App {
  padding: 2em;
  margin-top: 5em;
  background-color: #a89572;
  width: 600px;
  border-radius: 5px;
  height: auto;
}

#display {
  text-align: center;
}

.pad-container {
  margin-top: 1em;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1em;
}